CardA 1 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardA 1 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardB 1 2
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardB 1 2
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardC 2 3
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardC 2 3
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardD 2 4
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardD 2 4
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardE 3 5
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardE 3 5
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardF 3 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardF 3 1
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardG 1 7
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardG 1 7
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardH 2 6
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
CardH 2 6
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX
